:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

div {
	width: 300px;
	height: 80px;
	background-color: lightgreen;
}

.myBody {
	margin: 0;
	min-height: 100%;
	background-color: rgb(255, 255, 128);
}
.myBody2 {
	margin: 0;
	min-height: 100%;
	background-color: lightpink;
}
.hobbies-image {
	width: 10%;
}
.myNav {
	background-color: yellowgreen;
}
.myNav2 {
	background-color: blueviolet;
}
nav ul {
	list-style: none;
}
nav li {
	display: inline;
	margin-right: 2rem;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
}

nav a:visited {
	color: white;
}

nav a:hover {
	color: orange;
}

ul.character-list {
	list-style: none;
}

#myFirstHeader {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: 3rem;
	color: yellowgreen;
	padding: 1rem;
	margin: 1rem 4rem 1rem 4rem;
	border: 0.25rem double yellowgreen;
	text-align: center;
}

#mySecondHeader {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: 3rem;
	color: blueviolet;
	padding: 1rem;
	margin: 1rem 4rem 1rem 4rem;
	border: 0.25rem double blueviolet;
	text-align: center;
}
#myFirstParagraph {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.8em;
	padding: 1rem;
	margin: 1rem 4rem 1rem 4rem;
}
#mySecondParagraph {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem 4rem 1rem 4rem;
}
#myli1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}
